.ideaNoteBoard {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;

    .ideaNote:nth-child(even) {
        transform:rotate(4deg);
        -o-transform:rotate(4deg);
        -webkit-transform:rotate(4deg);
        -moz-transform:rotate(4deg);
        position:relative;
        top:0.25rem; 
    }

    .ideaNote:nth-child(3n) {
        transform:rotate(-3deg);
        -o-transform:rotate(-3deg);
        -webkit-transform:rotate(-3deg);
        -moz-transform:rotate(-3deg);
        position:relative;
        top:-0.25rem;
    }

    .ideaNote:nth-child(5n) {
        transform:rotate(5deg);
        -o-transform:rotate(5deg);
        -webkit-transform:rotate(5deg);
        -moz-transform:rotate(5deg);
        position:relative;
        top:-0.5rem;
    }
}