Resources:
  sslSecurityGroupIngress:
    Type: AWS::EC2::SecurityGroupIngress
    Properties:
      GroupId: {"Fn::GetAtt" : ["AWSEBSecurityGroup", "GroupId"]}
      IpProtocol: tcp
      ToPort: 443
      FromPort: 443
      CidrIp: 0.0.0.0/0

packages:
  yum:
    mod24_ssl : []

commands:
  10_installcertbot:
    command: "wget https://dl.eff.org/certbot-auto;chmod a+x certbot-auto"
  20_getcert:
    command: "sudo ./certbot-auto certonly --debug --non-interactive --email $CERTBOT_REGISTRATION_EMAIL --agree-tos --standalone -d ideakat.com -d www.ideakat.com -d dev.ideakat.com --keep-until-expiring --pre-hook \"service nginx stop\""
    env:
        CERTBOT_REGISTRATION_EMAIL:
            "Fn::GetOptionSetting":
                Namespace: "aws:elasticbeanstalk:application:environment"
                OptionName: CERTBOT_REGISTRATION_EMAIL
