.registrationController__failedRegistrationMessage {
    text-align: center;
    margin-top: 0.5rem;
}

.registrationController__successRegistrationMessage {
    text-align: center;
    font-size: ms(1);
}